.about-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.about-image {
  height: 250px;
  width: 250px;
}
@media screen and (max-width: 576px) {
  .about-image {
    height: 150px;
    width: 150px;
  }
}
.about-text {
  font-family: 'Roboto';
  font-size: 25px;
  font-weight: 500;
  color: #6d396b;
}
.description {
  font-family: 'Roboto';
  font-size: 20px;
  color: #555555;
}
